name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Install Composer packages
        uses: MilesChou/composer-action/7.4@master
        with:
          args: install

      # Runs a single command using the runners shell
      - name: PHPUnit (php-actions)
        uses: php-actions/phpunit@v2
